# Gitlab action triggered by new release which builds and publish new python packge to PyPi

name: Release

on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Set up Python
      uses: actions/setup-python@v6

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build

    - name: Build package
      run: | 
        # Set version from the tag and change it in pyproject.toml
        VERSION=${GITHUB_REF#refs/tags/}
        echo "Building version $VERSION"
        sed -i "s/^version = .*/version = \"$VERSION\"/" pyproject.toml
        # Build the package
        python -m build
        
    - name: Publish package
      uses: pypa/gh-action-pypi-publish@27b31702a0e7fc50959f5ad993c78deac1bdfc29
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
